<!DOCTYPE html>
<html>
<title> Sign up </title>

<head>
    <link rel="stylesheet" href="../css/assets.css">
</head>

<style>
    html,
    body {
        margin: auto;
        width: 400px;
    }
</style>

<body>
    <div div align=center class="form-label mt-4">
        <h3>Sign Up</h3><br>
        <form method="post">
            <input type="text" name="username" placeholder="Username" required="required" class="form-control " /><br>
            <input type="email" name="mail" placeholder="E-Mail" required="required" class="form-control " /><br>
            <input type="password" name="password" placeholder="Password" required="required" class="form-control " /><br>
            <button type="submit" class="btn btn-primary btn-block btn-large">Sign me up</button><br>
        </form>
    </div>
</body>

</html>